# Multiple Linear Regression

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

### We will learn Data Processiong and Multiple Linear Regression

In [10]:
df = pd.read_csv('home_price.csv')
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [4]:
df.bedrooms.median()

4.0

In [7]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

### Filling the na values with the median

In [11]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

### Data preprocessiong is done now fit the regression

In [12]:
reg = linear_model.LinearRegression()

In [13]:
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [14]:
reg.coef_,reg.intercept_

(array([  112.06244194, 23388.88007794, -3231.71790863]), 221323.00186540437)

In [18]:
reg.predict([[3000,4,15]])

C:\Users\Ali Neaz\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([602590.07937407])

### Exercise : HR salary prediction. use the module text to word2number